@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: "Poppins", sans-serif;
    --corPrincipal: #D9D9D9;
    --corPrecimento: #ffffff;
    --corDetalhes: #C63434;
    --corFontes: #505050;
    --corIconeImagem: #FF1300;
    --corDeFundo: #EFEFEF;
    --largura-main: 60%
}

main{
    width: calc(100% - 40%);
    margin: 0 auto;
}

body {
    background-color: var(--corDeFundo);
    margin: 0;
}

.fundo {
    background-color: var(--corPrincipal);
    border-radius: 16px;
}

.campoFundo{
    margin: auto;
    width: 100%;
}

.sectionDuasColunas{
    display: flex;
    padding: 5% 10% 0% 10%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sectionUmaColuna{
    display: flex;
    padding: 0% 10% 5% 10%;
    flex-wrap: wrap;
    justify-content: center;
}

.campodePrenchimento {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 4rem);
    /* calc para descontar a margem da largura do box se aumenta a marge tem que ajustar aqui tb */
}

.campodePrenchimento>input{
    min-width: 100%;
}

.campodePrenchimentoDifgerente{
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: calc((100% / 1) - 4rem);
}

/*css do menu dropdown*/
.select{
    position: relative;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

#category-select label{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
}

#select-button{
    min-width: 100%;
    display: flex;
    height: 38px;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
}

#selected-value{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.875rem;
    letter-spacing: 0.02625rem;
}

#chevrons svg{
    width: 1rem;
    height: 1rem;
}

#chevrons{
    color: rgba(0, 0, 0, 0.5);
}

#chevrons [class='bi bi-chevron-up']{
    display: none;
}

#category-select:has(#options-view-button:checked) label, #options-view-button:checked + #select-button #chevrons{
    color: rgba(0, 0, 0, 0.5);
}

#options-view-button:checked + #select-button #chevrons [class="bi bi-chevron-down"]{
    display: none;
}
#options-view-button:checked + #select-button #chevrons [class="bi bi-chevron-up"]{
    display: block;
}

#category-select{
    position: relative;
}

#options-view-button{
    all: unset;

    position: absolute;
    inset: 0;

    cursor: pointer;
    z-index: 3;
}

#options{
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: 0 4px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    display: none;
}

.option{
    display: flex;
    align-items: center;
    position: relative;
    gap: .5rem;
    padding: .75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.option:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.20);
}

.option:has(input:checked){
    color: black;
    background-color: rgba(255, 0, 0, 0.2);
}

.option:has(input:checked)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Inicialmente transparente */
    z-index: 1; /* Pseudo-elemento sobre o fundo, mas atrás do texto */
}

.option:has(input:checked):hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Inicialmente transparente */
}

.option input[type="radio"]{
    all: unset;

    position: absolute;
    inset: 0;
}

#category-select:has(#options-view-button:checked) + #options {
    display: block;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}


.checkbox+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 28px;
}

.checkbox+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 44px;
    transition: 0.4s;
}

.checkbox+label:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2px;
    top: 2px;
    bottom: 4px;
    background-color: var(--corFontes);
    border-radius: 50%;
    transition: 0.4s;
}

.checkbox:checked+label:before {
    background-color: var(--corIconeImagem);
}

.checkbox:checked+label:after {
    transform: translateX(300%);
    background-color: white;
}

.campoSectionUm{
    height: 38px;
    border-radius: 10px;
    border: solid 1px;
    padding: 0 4px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Poppins", sans-serif;
}

.nomePreenchimento{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.campoSectionDois{
    height: 38px;
    border-radius: 10px;
    border: solid 1px;
    padding: 0 4px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Poppins", sans-serif;
}

#campoDetalhes{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: solid 1px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Poppins", sans-serif;
    resize: vertical;
}

form{
    display: flex;
    flex-direction: column;
}

#botaoEnviar, #botaoExcluir{
    background-color: var(--corDetalhes);
    color: white;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin: 5% 0 20% 10px;
    cursor: pointer;

}

/*cAMPO DE ADICIONAR IMAGEM*/


.campoDeAdicionar {
    display: flex;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    min-height: 125px;
}

.custom-file-upload {
    display: block;
    position: absolute;
    height: 100px;
    color: var(--corIconeImagem);
    font-size: 70px;
    background-color: #ff110057;
    padding: 10px;
    border-radius: 10px;
    border: 2px var(--corIconeImagem) dotted;
    width: 70px;
    cursor: pointer;
}

.custom-file-upload>i {
    margin: auto;
}


#file-upload {
    all: unset;
    display: none;
    inset: 0;
    cursor: pointer;
    z-index: 3;
}

.image-preview-area {
    display: flex;
    flex-wrap: wrap;
    /* Permite que as imagens se ajustem em várias linhas */
    justify-content: flex-start;
    /* Alinha as imagens à esquerda */
}

.image-preview:first-child{
    margin-left: 110px;
}

.image-preview {
    width: 20%;
    /* Define a largura de cada imagem */
    margin: 1%;
    /* Margem ao redor das imagens */
    border-radius: 5px;
    /* Borda arredondada para as imagens */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra leve */
    object-fit: cover;
    /* Garante que a imagem preencha o espaço */
}

#campoContatoFundo{
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 4px;
    flex-direction: column;
}

#campoContato{
    margin-left: 8px;
    font-size: 15px;
}

#campoEmail,#campoZapZap{
    align-items: center;
    display: flex;
}

#campoEmail>i,#campoZapZap>i{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
}

.fundoClonclusao{
    padding: 1% 4%;
    background-color: var(--corIconeImagem);
    opacity: 0.81;
    height: 60vh;
    margin: 40px auto;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.areaBotoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.areaBotoes>button{
    max-width: 300px;
    height: 55px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}

.areaBotoes>button>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 250px;
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;

}

.areaBotoes>button>a>span{
    margin-left: 20px;
    font-size: 14px;
}

.areaBotoes>button>a>i{
    font-size: 20px;
    font-weight: bold;
}

#mensagemDecomclusao{
    font-size: 3rem;
    margin: 0;
    color: white;
}

.campoBotoes{
    display: flex;
    justify-content: right;
    width: 100%;
}

#opcao-outro{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


@media screen  and (max-width: 1140px){
    main{
        width: 80%;
    }
}

@media screen  and (max-width: 855px){
    .sectionDuasColunas{
        padding: 1%;
    }

    .sectionUmaColuna{
        padding: 1%;
    }

}

@media screen  and (max-width: 715px){
    main{
        width: 95%;
    }
}

@media screen  and (max-width: 565px){
    .campodePrenchimentoDifgerente {
        padding: 0;
        margin: 1rem 0;
    }

    .campodePrenchimento{
        padding: 0;
        margin: 1rem 0;
        width: calc((100% / 1) - 4rem);
    }

    #campoPrenchimentoContato{
        width: calc((95% / 1));
    }

    #checkboxEstilizada{
        padding: 0;
        margin: 1rem 0;
        width: calc((100% / 2) - 4rem);
    }

    #mensagemDecomclusao{
        font-size: 2rem;
    }
}

#campoDataVencimento{
    flex-direction: column;
    height: 97px;
}

.campodePrenchimento, .campodePrenchimentoDifgerente {
    position: relative; /* Necessário para aplicar o z-index */
}

.campodePrenchimento:nth-child(1) { z-index: 3; }
.campodePrenchimento:nth-child(2) { z-index: 2; }
.campodePrenchimento:nth-child(3) { z-index: 1; }
/* Continue incrementando o z-index para cada elemento adicional */

.campodePrenchimentoDifgerente:nth-child(1) { z-index: 10; }
.campodePrenchimentoDifgerente:nth-child(2) { z-index: 11; }
/* Continue incrementando o z-index para cada elemento adicional */