@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: var(--corDeFundo);
}

:root {
    font-family: "Poppins", sans-serif;
    --corPrincipal: #D9D9D9;
    --corPrecimento: #ffffff;
    --corDetalhes: #C63434;
    --corFontes: #505050;
    --corIconeImagem: #FF1300;
    --corDeFundo: #EFEFEF;
    --cor-barra-pesquisa: #ebebeb;
}

.main-container {
    display: flex;
    margin-top: 8rem;
    margin-left: 10px;
    margin-bottom: 6rem;
}

.filtros { 
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 1300px;
    background-color: var(--corPrecimento);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.138);
    border-radius: 10px;
}

.fundo-carro { 
    width: 1100px;
    height: 1285px;
    background-color: var(--corPrincipal);
    margin-left: 20px;
    margin-left: 3.7rem;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 6px;

}

#semi_novos { 
    color: var(--corFontes);
    margin: auto;
    text-align: center;
    font-size: 24px;
    margin-top: 3rem;
}

.card_carros { 
    width: 200px;
    height: 230px;
    background-color: var(--corDeFundo);
    border-radius: 10px;
    margin: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    text-align: center;
    display: block;
}

.card_carros img { 
    width: 200px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_carros p {
    margin-top: 1px; 
    font-size: 14px;
    font-weight: 600;
    color: #575757;
}

.card_carros button { 
    width: 120px;
    height: 30px;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: block;
    border: none;
    margin-top: 1.5rem;
    border-radius: 5px;
    background-color: var(--corDetalhes);
    color: var(--cor-barra-pesquisa);
    font-size: 14px;
    cursor: pointer;
}

.filter-box {
    border-radius: 4px;
    padding: 10px;
}
  
.filter-box label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
   
}
  
#search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 6px;
    box-sizing: border-box;
    background-color: var(--corPrincipal);
    border: none;
    border-radius: 5px;
}
  
#marca { 
    color: #505050;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.checkbox-container {
    max-height: 150px; /* Altura máxima para a barra de rolagem */
    overflow-y: auto;
    padding-top: 10px;
    margin-top: 10px;

}
  
.checkbox-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #636363;
}
  
.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
} 

hr {
    border: none; 
    width: 90%;
    height: 2px; 
    background-color: #a4a4a4; 
    margin: 20px auto; 
    border-radius: 5px;
}

.ano { 
    color: #505050;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 10px;
    display: flex;
    margin-bottom: 10px;
}

.ano-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
  
.ano-inputs {
    display: flex;
    gap: 5px; 
}
  
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.input-group input {
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--corPrincipal); 
    text-align: center;
    font-size: 14px; 
    outline-color:#ababab;
}
  
 
.example {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
}
  

/* Estilizar a barra de rolagem */
.checkbox-container::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
  }
  
  /* Cor de fundo do trilho da barra de rolagem */
  .checkbox-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cinza claro */
    border-radius: 5px;
  }
  
  /* Cor e estilo do "polegar" (a parte que desliza) */
  .checkbox-container::-webkit-scrollbar-thumb {
    background: #888; /* Cinza mais escuro */
    border-radius: 5px; /* Deixa o polegar arredondado */
  }
  
  /* Cor do "polegar" quando está sendo clicado/arrastado */
  .checkbox-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Fica mais escuro ao passar o mouse */
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  /* Remove as setas no Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }

  .card_carros a {
    color: var(--cor-barra-pesquisa);
    text-decoration: dashed;
}