@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.container {
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.secaoImagens {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2; /* Ocupa duas linhas para alinhar com as seções à direita */
    background-color: #fffefe;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.secaoImagens img {
    width: 736px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.carrosselImagens {
    display: flex;
    gap: 7px;
    margin-top: -5px;
}

.carrosselImagens img {
    width: 90px;
    height: 60px;
    object-fit: cover;
}

.carrosselImagens img.miniatura {
    cursor: pointer;
    width: 90px; 
    height: 60px;
    object-fit: cover; 
    transition: transform 0.2s;
}

.carrosselImagens img.miniatura:hover {
    transform: scale(1.1); 
}

.carrosselImagens .botaoSeta {
    width: 25px;
}

.carrosselImagens .botaoSeta:hover {
    transform: scale(1.1);
}

/* Seção de preços */
.secaoPrecos {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.secaoPrecos h2 {
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
}

.precoAntigo {
    text-decoration: line-through;
    color: gray;
    text-align: center;
    margin-right: 120px;
    margin-top: 10px;
}

.desconto {
    color: gray;
    margin-left: 205px;
    margin-top: -7px;
}

.precoNovo {
    font-size: 35px;
    color: #0ca50c;
    margin-top: -23px;
}

.textoOu {
    color: #ff0000;
    font-size: 12px;
    margin-top: -5px;
    margin-left: 10px;
}

.parcelas {
    margin-left: 40px;
    margin-top: -18px;
}

.detalheDesconto {
    color: #0ca50c;
    font-size: 15px;
}

/* Botões */
.botaoListaDesejos,
.botaoLoja {
    display: block;
    width: 100%;
    padding: 7px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c63434;
    color: white;
}

.botaoListaDesejos:hover,
.botaoLoja:hover {
    background-color: #d9534f;
}

/* Seção de contatos */
.secaoContatos {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: #fffefe;
    padding: 55px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.opcaoContato {
    display: flex;
    margin-bottom: 15px;
}

.secaoContatos h3 {
    margin-top: -20px;
    margin-right: 30px;
}

.opcaoContato a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.opcaoContato a:hover {
    color: #007BFF;
}

.opcaoContato i {
    font-size: 1.5em;
    margin-right: 10px;
}

.opcaoContato a > i {
    color: #0ca50c;
}

a> .gmail > i {
    color: #D44638;
}

/* Seção de detalhes do carro */
.detalhesCarro {
    grid-column: 1 / -1;
    background-color: #fffefe;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.gridDetalhes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 10px;
    justify-items: start;
}

.gridDetalhes div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.gridDetalhes p:first-child {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.gridDetalhes p {
    margin: 0;
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
}

.gridDetalhes .detalheData {
    color: red; 
    font-size: 10px;
}

/* Seção de especificações */
.secaoEspecificacoes {
    grid-column: 2 / span 1;
    background-color: #fffefe;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.secaoEspecificacoes h3 {
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 15px;
}

.secaoEspecificacoes .mensagem {
    padding: 60px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.secaoEspecificacoes .mensagem p {
    color: #aaa;
    font-size: 18px;
    line-height: 1.5;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .secaoImagens,
    .secaoPrecos,
    .secaoContatos,
    .secaoEspecificacoes {
        grid-column: 1 / span 1;
        max-width: 100%;
    }

    .secaoPrecos,
    .secaoContatos {
        margin-top: 20px;
    }
}
