.containerLogin{
    display: flex;
    height: 100%;
    width: 100%;
}

.leftRed{
    width: 30%;
    height: 100%;
    background-color: var(--corDetalhes);
    display: flex;
    align-items: center;
}

.leftRed h2{
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--corPrincipal);
    font-size: 35px;
}

.conteudoLogin{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.campoImagem{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding: 1%;
    width: 100%;
}

.containerFormulario{
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 70%;
    width: 60%;
    align-items: center;
}

.conteudoFormulario{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--corPrincipal);
    width: 100%;
    height: 100%;
    padding: 1%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.formulario{
    width: 100%;
    height: 100%;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px auto;
    height: 40%;
}

.campoInput{
    width: 70%;
    margin: auto;
}

.campoInput label{
    margin-left: 5px;
    font-weight: bold;
    color: var(--corFontes);
}

.inputLogin{
    display: flex;
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#inputEmail{
    border-radius: 5px;
}

.inputLogin input{
    display: flex;
    width: 100%;
    border-radius: 5px 0 0 5px;
    height: 35px;
    border: none;
    color: black;
    padding: 2%;
}

.inputLogin input:focus{
    outline: none;
}

.bottonEye{
    background-color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    align-items: center;
    display: flex;
    padding-right: 5px;
    cursor: pointer;
}

.campoBotoes{
    margin: auto;  
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttonSubmit{
    background-color: var(--corDetalhes);
    color: white;
    padding: 2% 7%;
    border-radius: 10px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.buttonSubmit:hover{
    background-color:#e03434;
}

.containerAncoras{
    display: flex;
    flex-direction: column;
    left: 0;
}

.ancora{
    color: var(--corDetalhes);
    margin-top: 5px;
}

.ancora:hover{
    color:#e03434;
}

.containerImage{
    width: 100%;
    display: flex;
}

.containerImage *{
    margin: auto;
}