
  .mainContainer {
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 6rem;
  }
  
  .filtros {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 1280px;
    background-color: var(--corPrecimento);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.138);
    border-radius: 10px;
    padding: 10px;
  }
  
  .fundoCarro {
    width: 1100px;
    background-color: var(--corPrincipal);
    margin-left: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 5px;
  }
  
  .semiNovos {
    color: var(--corFontes);
    text-align: center;
    font-size: 24px;
    margin-top: 3rem;
  }
  
  .cardCarros {
    width: 200px;
    height: 230px;
    background-color: var(--corDeFundo);
    border-radius: 10px;
    margin: 9px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    text-align: center;
    display: block;
  }
  
  .cardCarros img {
    width: 200px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .cardCarros p {
    margin-top: 1px;
    font-size: 14px;
    font-weight: 600;
    color: #575757;
  }
  
  .cardCarros button {
    width: 120px;
    height: 30px;
    text-align: center;
    margin: auto;
    display: block;
    border: none;
    margin-top: 1.5rem;
    border-radius: 5px;
    background-color: var(--corDetalhes);
    color: var(--cor-barra-pesquisa);
    font-size: 14px;
    cursor: pointer;
  }
  
  .filterBox {
    border-radius: 4px;
  
  }
  
  .filterBox label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: #505050;
    font-family: "Poppins", sans-serif;
  }
  
  .search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 6px;
    box-sizing: border-box;
    background-color: var(--corPrincipal);
    border: none;
    border-radius: 5px;
  }
  
  .checkboxContainer {
    max-height: 150px;
    overflow-y: auto;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .checkboxContainer label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #636363;
  }
  
  .checkboxContainer input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .anoContainer {
    margin-bottom: 15px;
  }
  
  .ano {
    color: #505050;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .anoInputs {
    display: flex;
    gap: 5px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputGroup input {
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--corPrincipal);
    text-align: center;
    font-size: 14px;
    outline-color: #ababab;
  }
  
  .example {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
  }
  

  .checkboxContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  .checkboxContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  .checkboxContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .checkboxContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

  .cardCarros a {
    color: var(--cor-barra-pesquisa);
    text-decoration: none;
  }