:root {
  --corPrincipal: #D9D9D9;
  --corPrecimento: #ffffff;
  --corDetalhes: #C63434;
  --corFontes: #505050;
  --corIconeImagem: #FF1300;
  --corDeFundo: #EFEFEF;
  --cor-barra-pesquisa: #ebebeb;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--corDeFundo);
  overflow-x: hidden;
}

.main{
  height: 100vh;
  display: flex;
  background-color: #EFEFEF;
}

.main>h1{
  margin: auto;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

hr {
  border: none; 
  width: 90%;
  height: 2px; 
  background-color: #a4a4a4; 
  margin: 20px auto; 
  border-radius: 5px;
}
